header{
    height: 83px;
    width: 1440px;
    display: flex;
    margin-bottom: 10px;
}
header img{
    margin-top: 10px;
    margin-left: 75px;
}
header nav{
    margin-top: 39px;
    margin-left: 200px;
}
header a{
    text-decoration: none;
    color: var(--cor-azul-letra);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
     margin-left: 85px; 

}

header div{
    color: #ffff;
    background-color: var(--cor-azul-principal);
    height: 38px;
    width: 198px;
    margin-top: 30px;
    margin-left: 225px;
    border-radius: 10ch; 
}

header div h2{
    font-weight: bold;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-left: 39px; 
}

#img-filtro{
    width: 100%;
}

.container-img{
    position: relative;
}
.legenda-img{
    position: absolute;
    bottom: 217px;
    left: 259px;
    color: #ffff;
    font-weight: bolder;
    font-size: 55px;
    font-family:'Montserrat', sans-serif;
}

.teste-form{
    position: absolute;
    bottom: 217px;
    background-color: #ffff;
    border-radius: 2ch;
    margin-left: 1146px;
    width: 352px;
    height: 420px;
}

.box h1{
    color: var(--cor-cinza-letra-form);
    padding-top: 40px;
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.input-form{
    padding-left: 27px;
    padding-top: 20px;
}
.box input::placeholder{
    color: var(--cor-amarelo-principal);
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.box input[type = "text"]{
    border: 2px solid var(--cor-cinza-letra-form);
    padding-left: 10px;
    border-radius: 3ch;
    width: 295px;
    height: 31px;
}

.btn-form{
    background-color: var(--cor-amarelo-principal);
    color: #ffff;
    font-weight: bolder;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-left: -1px;
    margin-top: 30px; 
    margin-left: 95px;
    width: 167px;
    height: 41px;
    border-radius: 4ch;
}
#titulo-servico{
    font-size: 60px;
    font-weight: bold;
    color: var(--cor-amarelo-principal);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-servico{
    display: flex;
    margin-bottom: 70px;
}

.box-servico{
    background-color: var(--cor-azul-principal);
    height:526px ;
    width: 360px;
    margin-left: 40px;
    border-radius: 3ch;
}
.box-servico2{
    background-color: var(--cor-azul-principal);
    height:526px ;
    width: 360px;
    margin-left: 40px;
    border-radius: 3ch;
}
.box-servico3{
    background-color: var(--cor-azul-principal);
    height:526px ;
    width: 360px;
    margin-left: 40px;
    border-radius: 3ch;
}
#box-servico1{
    margin-left: 140px;
}
#box-servico2{
    margin-left: 180px;
}
#box-servico3{
    margin-left: 180px;
}
.box-servico img{
    padding-top: 34px;
    padding-left: 115px;
}
.box-servico2 img{
    padding-top: 34px;
    padding-left: 141px;
}

.box-servico3 img{
    padding-top: 34px;
    padding-left: 134px;
}
.box-servico h1{
    color: #ffff;
    padding-top: 20px;
    padding-left: 80px;
    font-size:40px ;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;;
}
.box-servico p{
    color: #ffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 30px;
}
.box-servico2 h1{
    color: #ffff;
    padding-top: 20px;
    padding-left: 99px;
    font-size:40px ;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;;
}
.box-servico2 p{
    color: #ffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 30px;
}
.box-servico3 h1{
    color: #ffff;
    padding-top: 20px;
    padding-left: 70px;
    font-size:40px ;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;;
}
.box-servico3 p{
    color: #ffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 30px;
}

.container-conte-com-macc{
    background-color: var(--cor-amarelo-principal);
    display: flex;
    height: 439px;
}
.texto-conte-com-macc{
    padding-left: 135px;
}
#titulo-conte-com-macc-1{
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-azul-letra);
    padding-top: 30px;
}
#titulo-conte-com-macc-2{
    font-size: 95px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}
#paragrafo-conte-com-macc{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;;
    color: var(--cor-azul-letra);
    padding-top: 30px;
}
.container-conte-com-macc img{
    padding-left: 465px;
}
#titulo-entre-em-contato{
    color: var(--cor-azul-letra);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 90px;
}
#btn-ajuda{
    background-color: var(--cor-amarelo-principal);
    border-radius: 9ch;
    height: 58px;
    width: 294px;
    margin-left: 750px;
    margin-top: 60px;
    margin-bottom: 60px;
}
#btn-ajuda-text{
    color: var(--cor-azul-principal);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding-left: 60px;
    padding-top: 12px;
}

.rodape{
    background-color: var(--cor-azul-principal);
    height: 362px;
}

.rodape img{
   padding-left: 147px; 
   padding-top: 133px;
}

.lista-contatos{
 float: right;
 display: flex;
 padding-top: 104px; 
 padding-right: 401px;
 color: #ffff;
 font-size: 18px;
 font-family:'Montserrat', sans-serif; 
 
}

#lista-contatos-1{
    padding-right: 100px;
    list-style: none;
}
#lista-contatos-2{
    list-style: none;
}
#lista-contatos-3{
    list-style: none;
    display: none;
}


.palavra-amarelo{
color: var(--cor-amarelo-principal);
}

@media (max-width: 1378px){
    header nav{
        display: none;
    }
    header div{
        display: none;
    }
    .legenda-img{
        font-size: 21px;
    }
}
@media (max-width: 1520px){
    .teste-form{
        margin-left: 993px;
    }
    .container-servico{
        display:block;
    }
    #box-servico2 {
        margin-left: 144px;
        margin-top: 60px;
    }
    #box-servico3 {
        margin-left: 144px;
        margin-top: 65px;
    }
    .container-conte-com-macc{
        background-color: var(--cor-amarelo-principal);
        display: block;
        height: 626px;
    }
    .texto-conte-com-macc{
        padding-left: 135px;
    }
    #titulo-conte-com-macc-1{
        font-size: 62px;
    }
    #titulo-conte-com-macc-2{
        font-size: 62px;
       
    }
    #paragrafo-conte-com-macc{
        font-size: 24px;
    }
    .container-conte-com-macc img{
        padding-left: 246px;
        height: 175px;
    }
}
@media (max-width: 1368px){
    .teste-form{
        margin-left: 542px;
    }
    .rodape{
        height: 866px;
    }
    .lista-contatos{
        float: none;
        display: block;
        font-size: 15px;
        padding-top: 37px;
        padding-left: 124px;
    
       }
}
@media (max-width: 1178px){
    .teste-form{
        bottom: 41px;
    }
    #titulo-entre-em-contato{
        font-size: 45px;
        text-align: center;
        margin-top: 90px;
    }
    #btn-ajuda{
        margin-left: 426px; 
    }
    
}
@media (max-width: 916px){
    .teste-form{
        width: 244px;
        height: 326px;
        bottom: 41px;
    }
    .box h1{
        font-size: 14px;
    }
    .box input[type = "text"]{
        padding-left: 10px;
        border-radius: 3ch;
        width: 218px;
        height: 23px;
    }
    .input-form {
        padding-left: 11px;
        padding-top: -12px;
    }
    .btn-form{
        font-weight: bolder;
        font-size: 21px;
        padding-left: -1px;
        margin-top: -7px;
        margin-left: 49px;
        width: 145px;
        height: 27px;
    }
    @media (max-width: 747px){
        .teste-form{
            width: 200px;
            height: 255px;
            bottom: 2px;
            margin-left: 263px;
        }
        .box h1{
            font-size: 14px;
            padding-top: 8px;
            font-size: 13px;
        }
        .box input[type = "text"]{
            padding-left: 10px;
            border-radius: 3ch;
            width: 173px;
            height: 20px;
        }
        .input-form {
            padding-left: 11px;
            margin-top: -46px;
            
        }
        .btn-form{
            font-weight: bolder;
            font-size: 13px;
            margin-top: -39px;
            margin-left: 53px;
            width: 88px;
            height: 18px;
        }
        .legenda-img{
            font-size: 19px;
            bottom: 254px;
        }
        #btn-ajuda{
            margin-left: 150px; 
        }
        .rodape{
            height: 923px;
        }
        #lista-contatos-2{
            display: none;
        }
        #lista-contatos-3{
            display: block;
        }
        

    }

}